{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="mt-12">
    <div class="roster-landing flex flex-col items-center md:px-32 relative">
        <h1 class="roster-heading font-primary">CO<span class="roster-heading-color">N</span>TE<span class="roster-heading-color">NT</span></h1>
        <h1 class="roster-heading roster-heading-content font-primary">HO<span class="roster-heading-color">U</span>S<span class="roster-heading-color">E</span></h1>
        <div class="absolute top-1/3 px-3 py-2 bg-white text-2xl md:text-6xl font-tungsten -rotate-3 hidden md:block">Meet the Creators!</div>  
        
    </div> 

    <div class="flex flex-col md:px-32 mt-48">
        <div class="roster-tabs flex justify-center">
            <h2 class="font-tungsten text-5xl md:text-8xl text-red">Content Creators</h2>
        </div>

        <div class="roster-players flex flex-wrap mb-24 justify-center md:justify-start">
            {% for x in creators %}
                <div class="roster-card-container h-80 w-72 relative flex justify-center group mr-5 cursor-pointer">
                    <a class="flex w-full h-full" href={% url 'creator' id=x.id %}>
                        <div class="roster-card-white-bg w-11/12 h-5/6 bg-white group-hover:bg-red absolute bottom-0 transition ease-in-out delay-150">
                            <p class="roster-card-name mt-2 ml-2 font-tungsten text-5xl">{{ x.ign }}</p>
                        </div>
                        <div class="bg-red h-24 absolute top-1/2 w-full group-hover:bg-white transition ease-in-out delay-150"></div>
                        <img class="z-10 w-48 h-48 absolute bottom-0 right-12" src={{ x.image }} />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}