{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="page-loader" class="w-screen h-screen bg-background fixed z-50 top-0 flex justify-center items-center">
    <img class="loader-logo" width="200" src={% static 'logo.png' %} />
</div>

<div class="mt-32">
    <div class="slick-carousel">
        {% for x in carousel %}
            <div class="h-full">
                {% if x.link == '#' %}
                <a class="h-full" href={{ x.link }}>
                    <img class="w-full carousel-image" src={{ x.image }} />
                </a>
                {% else %}
                <a class="h-full" href={{ x.link }} target="_blank">
                    <img class="w-full carousel-image" src={{ x.image }} />
                </a>
                {% endif %}
            </div>
        {% endfor %}
        
    </div>

    <div class="about-info px-5 md:px-12 flex flex-col md:flex-row mt-32 ">
        <div class="about-left-container flex w-full md:w-1/2 justify-center items-start flex-col md:pl-32 md:pr-12">
            
            <h1 class="text-6xl pl-10 mb-4 text-left text-red font-primary">This Is</h1>
            
            <h1 class="text-5xl md:text-7xl text-red font-primary">Lethal Esports</h1>
                
            
            <p class="text-white hidden md:block text-xl font-secondary mt-4">
                Lethal Esports is dedicated to fostering a competitive and exciting esports scene. Founded in 2019, our headquarters are located in Pune, India. We have been a part of major Valorant tournaments organized in India. Our players strive for excellence both in-game and out. With a strong leadership team and support from our partners, we are constantly working to improve and expand. Whether you're a player looking to join a team, a fan looking to support the scene, or a sponsor looking to invest in the future of esports, we welcome you to be a part of our community.
            </p>
            
        </div>
        
        <div class="about-right-container w-full md:w-1/2 flex flex-col mt-5">
            <div class="flex">
                <img class="w-full h-full" src={% static 'logo.png' %} />
                <!-- <div class="w-1/2">
                    <img class="w-full h-full" src={% static 'portrait.jpg' %} />
                </div>
                <div class="flex flex-col w-1/2">
                    <img class="w-32" src={% static 'portrait.jpg' %} />
                    <img class="w-32" src={% static 'portrait.jpg' %} />
                </div> -->
            </div>
            <p class="text-white block md:hidden text-xl font-secondary mt-4">
                Lethal Esports is dedicated to fostering a competitive and exciting esports scene. Founded in 2019, our headquarters are located in Pune, India. We have been a part of major Valorant tournaments organized in India. Our players strive for excellence both in-game and out. With a strong leadership team and support from our partners, we are constantly working to improve and expand. Whether you're a player looking to join a team, a fan looking to support the scene, or a sponsor looking to invest in the future of esports, we welcome you to be a part of our community..
            </p>
        </div>
        

    </div>

    
    <div class="events-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e7002b" fill-opacity="1" d="M0,190L440,228L1440,320L0,320Z"></path></svg>
        <div class="news-container bg-red flex flex-col justify-center items-center">
            <h1 class="text-8xl font-primary">Events</h1>

            <div class="event-container w-4/5 py-10 pb-24 flex flex-col">
                {% for i in event %}
                    <div class="event-card w-full flex mb-12">
                        <a class="w-full flex flex-col md:flex-row items-center group" href={{ i.link }}>
                            <div class="event-card-date-container flex flex-row md:flex-col items-center justify-center w-48">
                                <div class="event-card-month hidden md:block text-4xl text-black">
                                    {{ i.date|date:"F"|upper }}
                                </div>
                                <div class="event-card-month block md:hidden text-5xl text-black">
                                    {{ i.date|date:"M"|upper }}
                                </div>
                                <div class="event-card-month text-white text-5xl md:text-6xl ml-2">
                                    {{ i.date|date:"d" }}
                                </div>
                                <div class="event-card-month text-5xl text-black ml-2">
                                    YEAR
                                </div>
                                <div class="event-card-month text-white text-5xl md:text-4xl ml-2">
                                    {{ i.date|date:"Y" }}
                                </div>
                            </div>

                            <div class="event-card-content-container flex flex-col md:flex-row w-full h-96 md:h-60 bg-zinc-900">
                                <div class="event-card-image bg-white w-full">
                                    <img class="scale-1 group-hover:scale-110 md:pl-10 w-full h-full transition ease-in-out delay-150" src={{ i.image }} />
                                </div>

                                <div class="event-card-content px-5 md:px-14 py-5 text-white w-full">
                                    <div class="event-card-location text-xl mb-2">
                                        LOCATION <span class="text-red">|</span> {{ i.location }}
                                    </div>
                                    <div class="event-card-title text-4xl group-hover:text-red transition ease-in-out delay-150">
                                        {{ i.title }}
                                    </div>
                                    <div class="event-card-text text-md font-secondary">
                                        {{ i.description }}
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                    </div>

                    {% empty %}
                    <h1 class="text-3xl text-white mx-auto">No Upcoming Events</h1>
                {% endfor %}

            </div>
            
        </div>
    </div>
    
    
    <div class="management-container flex items-center my-12 flex-col">
        <div class="management-content mb-4">
            <h1 class="text-6xl md:text-8xl text-red font-primary">Management</h1>
        </div>
        <div class="management-cards mt-8 w-full flex flex-row flex-wrap justify-start px-10">
            {% for y in management %}
                <div class="management-card profile-card h-80 w-72 bg-white mb-10 mx-8 my-2 relative justify-between items-center group hover:scale-125 transition ease-in-out delay-150">
                    <a class="flex justify-center w-full h-full relative items-end" href={% url 'manager' id=y.id %}>
                        <h2 class="self-start group-hover:text-red transition ease-in-out delay-150 font-tungsten text-4xl absolute top-2 left-3 z-10">{{ y.first_name }} {{ y.last_name }}</h2>
                        <img class="w-48 grayscale group-hover:grayscale-0 transition ease-in-out delay-150 relative bottom-0" src={{ y.image }} />
                    </a>
                </div>
            {% endfor %}
        </div>
        
    </div>
    
    

</div>
{% endblock %}

{% block scripts %}
<script>
    gsap.fromTo('.about-right-container', {
        y:1000,
        opacity: 0.6
    },
    {
        scrollTrigger: {
            trigger: '.about-info',
            
        },
        y:0,
        opacity:1,
        duration: 3
    })
    
    $(window).on('load', function() {
        $("body").css({"overflow-y":"hidden"})
        setTimeout(function()
        {   
            $("#page-loader").fadeOut()    
            $("body").css({"overflow-y":"auto"})
        }, 1000);  
    })
</script>
{% endblock %}