{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="profile-container w-full overflow-x-hidden mt-32">
    
    <div class="profile-main flex w-full h-screen">
        <div class="profile-image w-1/2 flex justify-end pr-12">
            <img class="h-32" src={% static 'profile.png' %} />
        </div>
        <div class="profile-content w-1/2 flex flex-col items-start">
            <h1 class="text-6xl font-tungsten text-white">{{ player.ign }}</h1>
            <h1 class="text-4xl font-tungsten text-red">MANAGER</h1>

            <p class="text-2xl font-tungsten text-white mt-12">Name: {{ player.first_name }} {{ player.last_name }}</p>
            <p class="text-2xl font-tungsten text-white mt-4">Joined: {{ player.doj }}</p>
            <p class="text-2xl font-tungsten text-white mt-4 w-64">{{ player.description }}</p>
            
        </div>
    </div>
   

    {% if streams %}
    <div class="player-scroll-container mt-12 bg-black mt-12">
        <h1 class="player-marquee w-full text-white text-8xl py-12 font-tungsten whitespace-nowrap">LETHAL {{ player.first_name|upper }} <span class="text-red">"{{ player.ign|upper }}"</span> {{ player.last_name|upper }} FEED <span class="text-red">||</span> LETHAL {{ player.first_name|upper }} <span class="text-red">"{{ player.ign|upper }}"</span> {{ player.last_name|upper }} FEED <span class="text-red">||</span> LETHAL {{ player.first_name|upper }} <span class="text-red">"{{ player.ign|upper }}"</span> {{ player.last_name|upper }} FEED <span class="text-red">||</span> </h1>
    </div>

    <div class="player-streams w-full flex flex-wrap my-5">
        {% for x in streams %}
            <iframe class="mx-2 my-2" width="600" height="300" src={{ x }}></iframe>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

